<div class="top">
    <div class="logo">
        <strong>Twino MQ</strong>
    </div>
    <div class="menu">
        <ul>
            <li routerLinkActive="active"><a routerLink="/dashboard">Dashboard</a></li>
            <li routerLinkActive="active"><a routerLink="/connections">Connections</a></li>
            <li routerLinkActive="active"><a routerLink="/channels">Channels</a></li>
            <li routerLinkActive="active"><a routerLink="/administration">Administration</a></li>
        </ul>
    </div>
    <div class="profile">
        <span>Administrator</span>
        <a href="#">Logout</a>
    </div>
</div>